@model List<Shop.UI.Models.ProductModel>
@{
    ViewData["Title"] = "Shop";
}

<div class="text-center">
    <h1 class="display-4">Ürünler</h1>
    <div class="row">

        @foreach (var item in Model)
        {
             <div class="col-sm-4">
                <h3>
                    @Html.ActionLink(@item.Name, "Detail", "Product", new { id =@item.Id }, null)
 
                </h3>
                <span>@item.Price</span>

            </div>
        }


           
          
    </div>

</div>
